<h1> <%= @client.name()%></h1>

  <form action="/client/<%=@client.id()%>" method="post">
    <input type="hidden" name="_method" value="patch">
    <label for="name">Rename your Client:</label>
    <input id="name" type="text" name="name">
    <button type="submit" class="btn">Update</button>
  </form>

  <br>
  <br>
  <br>

  <form action="/client/<%=@client.id()%>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button type="submit">Delete client</button>
  </form>
  <br>
  <br>
  <br>
  <button type="sumit" class="btn"><a href="/">Home</a></button>
