<h1>Add Stylist Form</h1>

<form action="/stylist" method="post">
  <div class="form-group">
    <label class="form-label" for="name">Add a Stylist</label>
    <input class="form-control" id="name" type="text" name="name" placeholder="Enter Name Here">
    <button type="submit" class="button btn">Submit!</button>
  </div>

</form>
