<h1>New Stylist Form</h1>

<form action="/create_stylist" method="post">
  <label for="style_input">Full Name of New Stylist</label>
  <input id="style_input" type="text" name="style_input" placeholder="Enter Full Name">

  <button type="submit" class="btn">Submit!</button>
</form>
